{% load static%}

<!DOCTYPE html>
<html lang="pt-BR" class="h-100>

<head>
    <meta charset=" UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Cadastrados</title>

<!-- Bootstrap css -->
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
<!-- <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}"> -->
<link rel="stylesheet" type="text/css" href="{% static 'css/navbar-top-fixed.css' %}">

</head>

<body>

    <!-- navbar -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Brotheres</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse me-auto mb-2 mb-md-0" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Pesquisar" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Pesquisar</button>
                </form>
            </div>
        </div>
    </nav>


    <main class="container">
        <div class="bg-light p-5 rounded">
            <h3>Cadastrados no sistema</h3>
            <p class="lead">Veja abaixo a listas de pessoas cadastradas no sistema</p>
            <div class="d-grid gap-2 d-md-block"> <a href="/form" type="button" class="btn btn-primary"> cadastrar pessoa </a></div>

            <div class=" m-auto pt-4 pb-2 text-center table-responsive">
                <table class="table">
                    <thead class="table-dark">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nome</th>
                            <th scope="col">Email</th>
                            <th scope="col">Cep</th>
                            <th scope="col">UF</th>
                            <th scope="col">Cidade</th>
                            <th scope="col">Logradouro</th>
                            <th scope="col">Número</th>
                            <th scope="col">Bairro</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>@diceloss</td>
                            <td>@diceloss</td>
                            <td>@diceloss</td>
                            <td>@diceloss</td>
                            <td>@diceloss</td>
                            <td>@diceloss</td>
                            <td>@diceloss</td>
                            <td>@diceloss</td>
                        </tr>                       
                    </tbody>
                </table>
            </div>

            <!-- <a class="btn btn-lg btn-primary " href="../components/navbar/" role="button">View navbar docs &raquo;</a> -->
        </div>

    </main>

</body>
<script src=" {% static 'js/bootstrap.bundle.min.js' %}"></script>


</html>