{% extends 'base.html' %}
{% load static %}
{% load bootstrap %}

{% block title %}Cadastrados{% endblock %}

{% block content %}

{% include 'menu.html' %}

<main class="container">
    <div class="bg-light p-5 rounded">
        <!-- Alerts Possibles errors -->
        {% include 'alertas.html' %}
        <h3>Cadastrados no sistema</h3>
        <p class="lead">Veja abaixo a listas de pessoas cadastradas no sistema</p>
        <div class="d-grid gap-2 d-md-block"> <a href="{% url 'form' %}" type="button" class="btn btn-primary"> cadastrar pessoa </a></div>

        <div class=" m-auto pt-4 pb-2 text-center table-responsive">
            <table class="table">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Email</th>
                        <th scope="col">Cep</th>
                        <th scope="col">UF</th>
                        <th scope="col">Cidade</th>
                        <th scope="col">Logradouro</th>
                        <th scope="col">Número</th>
                        <th scope="col">Bairro</th>
                        <th scope="col">Deletar</th>
                    </tr>
                </thead>
                <tbody>
                    {% for person in persons %}
                    <tr>
                        <th scope="row"><a href="{% url 'form' %}?id={{person.id}}">{{person.id}}</a></th>
                        <td>{{person.nome}}</td>
                        <td>{{person.email}}</td>
                        <td>{{person.cep}}</td>
                        <td>{{person.uf}}</td>
                        <td>{{person.cidade}}</td>
                        <td>{{person.logradouro}}</td>
                        <td>{{person.numero}}</td>
                        <td>{{person.bairro}}</td>
                        <td><a href="{% url 'deletar' person.id %}">Deletar</a></td>
                    </tr>
                    {% endfor %}    
                </tbody>
            </table>
        </div>
    </div>

</main>

{% endblock %}