{% extends 'base.html' %}
{% load static %}
{% load bootstrap %}

{% block title %}Cadastrar{% endblock %}

{% block content %}

{% include 'menu.html' %}

<main class="container col-6">
    <div class="bg-light p-5 rounded">
        <h3>Formulário de cadastro</h3>
        <p>Ao digitar o CEP, use somente números. Exemplo: 01001000</p>
        <div class="d-grid gap-2 d-md-block"> <a type="button" href="{% url 'cadastrados' %}" class="btn btn-primary"> Visualizar cadastraddos </a>
        </div>

        <!-- Alerts Possibles errors -->
        {% include 'alertas.html' %}

        <form class="formulario" name="form" id="form" method="POST" action="{% url 'form' %}">
            {% csrf_token %}
            <div class="formulario mt-2">

                <div class="form-group mt-4 form-floating">
                    <input class="form-control col-4" type="text" id="nome" value="{{ nome }}" name="nome" placeholder="Nome ">
                    <label for="nome">Nome </label>
                </div>
                <div class="form-group mt-2 form-floating">
                    <input class="form-control col-4" type="text" id="email" value="{{ email }}" name="email" placeholder="Email" required>
                    <label for="email">Email: exemplo@gmail.com</label>
                </div>
                <div class="form-group mt-2 form-floating ">
                    <input class="form-control col-4" type="text" id="cep" value="{{ cep }}"  name="cep"  maxlength="8" placeholder="CEP" required>
                    <label for="uf">CEP</label>
                </div>

                <div class="form-group mt-2 form-floating">
                    <input class="form-control" type="text" id="uf" value="{{ uf }}" placeholder="UF" name="uf" required>
                    <label for="uf">Estado</label>
                </div>

                <div class="form-group mt-2 form-floating">
                    <input class="form-control " type="text" name="cidade" id="cidade" value="{{ cidade }}" placeholder="Cidade"
                        required>
                    <label for="cidade">Cidade</label>
                </div>

                <div class="form-group mt-2 form-floating">
                    <div class="input-group">
                        <input type="text" class="form-control col-8" value="{{ logradouro }}" placeholder="Logragouro" id="logradouro" name="logradouro" required>
                        <input type="text" class="form-control col-4 " value="{{ numero }}" placeholder="Número" id="numero" name="numero" >
                    </div>
                </div>

                <div class="form-grounp mt-2 form-floating">
                    <input type="text" class="form-control " value="{{ numero }}" placeholder="Bairro" id="bairro" name ="bairro" required>
                    <label for="bairro">Bairro</label>
                </div>

                <div class="d-grid gap-2 mt-4 col-6 mx-auto">
                    <input id="btn-salvar" type="submit" class="btn btn-success" value="Salvar">
                </div>
        </form>
    </div>
</main>

{% endblock %}